data/
raw_data_files/
temp_scripts/
.ipynb_checkpoints
plots/
LIGO Detector Data/
LIGO Detector Data_old/
val_data/
raw_val_data_files/
colab_scripts/
model_trial_1.h5
model_trial_1_level_1.h5
model_trial_1_level_2.h5
roc plots/
bar plots/
archives/
signal/
bbh_signal/
bns_signal/