Test 7/
Test 8/
Test 9/
Test 10/
Test 6 alternate hard/
Test 5 alternate/
Test 6 alternate/
README_old.md
test_1_5_fold_validation.ipynb
test_2_5_fold_validation.ipynb
test_3_5_fold_validation.ipynb
test_4_5_fold_validation.ipynb
test_5_5_fold_validation.ipynb
test_6_5_fold_validation.ipynb